# LIST

In [ ]:
# list is a heterogenous
# can create duplicates
# can be changed
# elements are separated by comma
# elements are enclosed in[] parenthesis

# supports the following

In [ ]:
# Appending Elements
# Concatenation
# Indexing and Slicing 
# Min(),Max(),Len()
# in, not in

## list creation

In [1]:
name_list=["ramana","rani","chatu","yogi"]
print(name_list)
type(name_list)

['ramana', 'rani', 'chatu', 'yogi']

list

In [2]:
list=['12','raju',90.5]
print(list)

['12', 'raju', 90.5]

### concatenation and append

In [4]:
name=['rani','ravi','ramu']
roll_no=[1,2,3]
list=name+roll_no
print(list)

['rani', 'ravi', 'ramu', 1, 2, 3]

In [5]:
name=['rani','ravi','ramu']
name.append("raju")
print(name)

['rani', 'ravi', 'ramu', 'raju']

# sorting element in the list

In [6]:
list=[45,65,77,22,13]
list.sort()
print(list)

[13, 22, 45, 65, 77]

In [7]:
name=['rani','ravi','ramu']
name.sort()
name

['ramu', 'rani', 'ravi']

In [ ]:
# we canot sort a list with mixed datatype

In [56]:
list=['rani', 'ravi', 'ramu', 3,2,1]
list.sort()
list

TypeError: '<' not supported between instances of 'int' and 'str'

# the sort operater is only applicable for the list of same datatype

In [9]:
list=['Vending', 'Machine',1]
list.sort()
list

TypeError: '<' not supported between instances of 'int' and 'str'

In [10]:
## we can sort the list in desc by suding reverse keyword
# by default reverse=False

In [11]:
list=[45,65,77,22,13]
print(list)
list.sort(reverse=True)
print(list)

[45, 65, 77, 22, 13]
[77, 65, 45, 22, 13]

In [12]:
### we can  reverse by using slicing technique

In [13]:
list=[45,65,77,22,13]

list[::-1]

[13, 22, 77, 65, 45]

In [14]:
# sorted list

In [15]:
list=[99,44,55,67,83]
sortedlist=sorted(list)
sortedlist

[44, 55, 67, 83, 99]

In [16]:
### difference between sort and sorted
###in sorted function we gonna assign the currentlist to the new variable where as in sort we use[.]
###by default both will give the list in ascending
## the sort() will modify an existing list but sorted() will create a new list

# checking the presence of element in the list

In [18]:
### for checking the  presence of elements in list we use in , not in operator

In [19]:
list=[11,22,23,45,65,77,9]
print(9 in list)

True

In [20]:
list=[11,22,23,45,65,77,9]
print(9 not in list)

False

In [21]:
name=['rani','ravi','ramu']
print('rani' in name)

True

# iteration through list

In [23]:
### here we can display the elements in the list

In [24]:
name_list=['rani','ravi','ramu']
for name in name_list:
    print(name)

rani
ravi
ramu

## list operations

In [26]:
## finding the number of elements in a list

In [27]:
list=[1,2,3,4,5,66,77,]
len(list)

7

In [28]:
#we can find max of the list by using max

In [29]:
list=[1,2,3,4,5,66,77,]
max(list)

77

In [30]:
### we can find min of the list by using min

In [31]:
list=[1,2,3,4,5,66,77,]
min(list)

1

In [32]:
### we can't use min()max() for mixed data type

In [33]:
### we can remove the all element of the list by using clear()

In [34]:
list=[1,2,3,4,5,66,77,]

print(list)
list.clear()
list

[1, 2, 3, 4, 5, 66, 77]

[]

In [ ]:
## note that thoughall elements are removed but the list still exists with no elements

In [35]:
list=[1,2,3,4,5,66,77,]
newlist=list.copy()
print(list)
print(newlist)

[1, 2, 3, 4, 5, 66, 77]
[1, 2, 3, 4, 5, 66, 77]

In [36]:
### here we are copying the list
### so that address value is different so that it give false

In [37]:
list=[1,2,3,4,5,66,77,]
newlist=list.copy()
print(list)
print(newlist)
print(list is newlist)

[1, 2, 3, 4, 5, 66, 77]
[1, 2, 3, 4, 5, 66, 77]
False

In [38]:
### here we are assigned the list for new list 
###so address won't change

In [39]:
list=[1,2,3,4,5,66,77,]
newlist=list
print(list)
print(newlist)
print(list is newlist)

[1, 2, 3, 4, 5, 66, 77]
[1, 2, 3, 4, 5, 66, 77]
True

In [40]:
### here we can count the no of times element occurs

In [41]:
list=[1,2,3,4,5,66,77,1,2]
list.count(1)

2

In [42]:
## it extends the current list by adding the all items of the specified list

In [43]:
books=['think like a monk','change your thinking change your life']
num=[20,30]
books.extend(num)
books

['think like a monk', 'change your thinking change your life', 20, 30]

In [44]:
## it gives the index value of element in  list

In [45]:
list=[1,2,3,4,5]
list.index(5)

4

In [46]:
### here we can add the element in list at what position we need to add
### in append we can add only at last

In [47]:
products=["dairy",'bakery','clothing']
products.insert(2,"grocery")
products

['dairy', 'bakery', 'grocery', 'clothing']

In [48]:
### the another method of adding

In [49]:
products=["dairy",'bakery','clothing']
products[2]="grocery"
products

['dairy', 'bakery', 'grocery']

In [50]:
### we can use pop()or remove() for removing the element
##pop use the position 
### remove use the name of the element
### where as clear()will remove the whole list

In [51]:
products=["dairy",'bakery','clothing']
products.remove("dairy")
products

['bakery', 'clothing']

In [52]:
products=["dairy",'bakery','clothing']
products.pop(2)
products

['dairy', 'bakery']

In [53]:
### we can reverse the list by using reverse()

In [54]:
list=[1,2,3,4,5]
list.reverse()
list

[5, 4, 3, 2, 1]

# Indexing and Slicing list

# list[Start:Stop:Step]

In [ ]:
## Slicing the list

In [57]:
product=['dairy','bakery','clothing','grocery']
product[0:2]

['dairy', 'bakery']

In [ ]:
# slicing the list using negative index

In [58]:
product=['dairy','bakery','clothing','grocery']
product[-1]

'grocery'

In [59]:
a=[1,2,3,4,5,6,7,8]
a[0:-1]

[1, 2, 3, 4, 5, 6, 7]

In [60]:
a=[1,2,3,4,5,6,7,8]
a[-3:-1]

[6, 7]

In [61]:
a=[1,2,3,4,5,6,7,8]
a[2:-1]

[3, 4, 5, 6, 7]