# Variable datatypes in Python
  # integers
  # string
  # boolean
  # float

In [1]:
##integer is whole number

In [2]:
age=12 # assigning the 20 to the variable age
print(age) # print the age
type(age) # shows the datatype of age

12

int

In [3]:
##float is in decimal form

In [4]:
age=12 
print(age) 
type(age)

12

int

In [5]:
# booleans are built keywords there are only two possible values True,False

In [6]:
x=True
type(x)

bool

In [7]:
# Strings
# Anything that are inside the double or single enclosed quotes

In [8]:
name='Rani'
print(name)
type(name)

Rani

str

In [9]:
name='123'
print(name)
type(name)

123

str

In [10]:
name='True'
print(name)
type(name)

True

str

# String Handling

In [11]:
# replace is used for replacing the word in the sent 
#first we need to write the word where the new word need to be placed and the new word

In [12]:
text='i love python'
text.replace("python","data science")

'i love data science'

In [13]:
# it converts the sentance into upper case

In [14]:
text.upper()

'I LOVE PYTHON'

In [15]:
# it convert the sentance into lower case

In [16]:
text.lower()

'i love python'

In [17]:
# it convert the every first letter of the word in a sentance into uppercase

In [18]:
text.title()

'I Love Python'

In [19]:
# it is used to join the sent by some special symbols some thing like that
# we need to take two variables, assign one with sentance and another with symbols( anything that u would like to connect)
# syntax is var2.join(var1)

In [20]:
date="12","03","2001"
sep="-"
sep.join(date)

'12-03-2001'

In [21]:
# strip will remove the  symbols like*,. which are present at the first or last of the sentence

In [22]:
text="** python*for*data science**"
text.strip("*")

' python*for*data science'

In [23]:
text="python*for*data science**"
text.strip("*")

'python*for*data science'

In [24]:
print("my name"+"is chatu")## concatenate two strings

my nameis chatu

In [25]:
print("marks"+str(95))

marks95

In [26]:
print("am curious to learn data science")
print("\t")
print("am curious to learn data science")

am curious to learn data science

am curious to learn data science

In [27]:
print("am curious to learn data science")
print("\n")## gives a new line
print("am curious to learn data science")

am curious to learn data science


am curious to learn data science

# indexing and slicing of string

In [28]:
#index value starts from 0

In [29]:
text='i love python'
text[0] # #if we need the first letter of the sentence

'i'

In [30]:
text[:] ##if u need the whole sentence

'i love python'

In [31]:
text[0:7]

'i love '

In [32]:
#the negative value will print from right to left

In [33]:
text[1:-1]

' love pytho'

In [34]:
text[-2]

'o'

In [35]:
#syntax to print in reverse order

In [36]:
text[::-1]

'nohtyp evol i'

In [37]:
#here it will reverse the sentence and check the index value from right side

In [38]:
text[::-1][-3]

'l'

In [39]:
#if we give range above the given range it will give an error

In [40]:
text[1000]

IndexError: string index out of range

In [41]:
# here it won't reverse the sentence 
## check the index from right

In [42]:
text[-3][::-1]

'h'

# Varaiable Assignment

In [43]:
#variable is something that will store the value or character
###variable should not start with number
###variable should not start with any special char other than underscore
##variable CAN START with under score alphabets and can have number at middle

In [44]:
a=12
b='Ravi'
c=2.5

In [45]:
a

12

In [46]:
b

'Ravi'

In [47]:
c

2.5

In [48]:
4sample_list=[1,2,3,4] ## here we have syntax error since we have stared with number

SyntaxError: invalid syntax (<ipython-input-48-614c5e6cdc69>, line 1)

In [49]:
@sample_list=[1,2,3,4] ##  here we have syntax error since we have stared with special char

SyntaxError: invalid syntax (<ipython-input-49-ba7df5ac8857>, line 1)

# Vriable ways of printing

In [50]:
 print("hello")

hello

In [51]:
first_name='Yarradoddi'
last_name='Chaturya'

In [52]:
print("My first name is {} and last name is{}".format(first_name,last_name))

My first name is Yarradoddi and last name isChaturya

In [53]:
print("My first name is {first} and last name is{last}".format(first=first_name,last=last_name))

My first name is Yarradoddi and last name isChaturya

## implicit convertion

In [54]:
### in implicit convertion convertion is done by the python interpreter without programers intervention
### if both numbers are float it give float value 
###if both numbers are int it give int value 
### if one is float and another is int it gives the float value

In [55]:
sales=4.5
no=22
total=0
total=sales*no
total

99.0

In [56]:
sales=4
no=5
total=0
total=sales*no
total

20

In [57]:
sales=4
no=5
total=0
total=sales+no
total

9

# explicit convertion

In [58]:
## in explicit convertion it is done by users

In [59]:
sales=4
no="5"
total=0
total=sales+float(no)
total

9.0

In [60]:
sales=4
no="5"
total=0
total=sales+int(no)
total

9

In [61]:
sales=4
no="5"
total=0
total=sales+bool(no)
total

5

In [62]:
sales=4
no=5.5
total=0
total=sales+int(no)
total

9

# typecasting

In [63]:
#### converting one data type into another
### string can't be converted into int
### string can't convert into float

In [64]:
no=5.5

total=int(no)
total

5

In [65]:
no=5.5

total=str(no)
total

'5.5'

In [66]:
no=5.5

total=bool(no)
total

True

In [67]:
no=5

total=float(no)
total

5.0

# Mathematical operations

# arithmetic operations

In [68]:
a=5
b=10
c=a+b # addition
c

15

In [69]:
a=5
b=10
c=a*b## multiplication
c

50

In [70]:
a=15
b=10
c=a-b## subtraction
c

5

In [71]:
#if a<b then output is a

In [72]:
a=2
b=4
c=a%b ## modulus
c

2

In [73]:
#if a>b then output is reminder

In [74]:
a=4
b=2
c=a%b
c

0

In [75]:
#  quotient is output

In [76]:
a=4
b=2
c=a/b ##division
c

2.0

In [77]:
a=2
b=4
c=a/b
c

0.5

In [78]:
a=2
b=4
c=a**b
c

16

In [79]:
a=2
b=4
c=a//b floor division
c

SyntaxError: invalid syntax (<ipython-input-79-1e55473fe605>, line 3)

In [80]:
# running variable

In [82]:
price=int(input("enter price:"))
quantity=int(input("enter quantity:"))
total= price*quantity
print(total)

enter price:100
enter quantity:5
500

# relational operation

In [83]:
x=100
y=200
x==y # is equal to

False

In [84]:
x=100
y=200
x>y # is greater than

False

In [85]:
x=100
y=200
x>=y # is greater than and equal to

False

In [86]:
x=100
y=200
x<y # is less than

True

In [87]:
x=100
y=200
x<=y # is less than and equal to

True

# logical operations

In [88]:
x=10
y=15
z=20
x<y and y<z # returns true if both operands are true

True

In [89]:
x=10
not(x) # returns true if  operand is false

False

In [90]:
x=10
y=10
z=20
not(x==y and y<z)

False

In [91]:
x=10
y=10
z=20
x==y or y<z # returns true if either of the operands are true

True

# membership operations

In [92]:
name="chaturya"
print("a" in name) # the "in" operand is used to check if a value exists in any sequence object or not

True

In [93]:
name="chaturya"
print("a" not in name) # 'not in' works in an opposite way to an 'in' operator

False

# bitwise operations

In [94]:
n=10
(n%2==0)&(n%3==0)

False

In [95]:
n=10
(n%2==0)|(n%3==0)

True

# more operations

In [96]:
a=10
b=20
a+=b
a

30

In [97]:
a=10
b=20
a-=b
a

-10

In [98]:
a=10
b=20
a&=b
a

0

In [99]:
a=10
b=20
a|=b
a

30

In [100]:
a=10
b=20
a*=b
a

200

In [101]:
a=10
b=20
a%=b
a

10

In [102]:
a=10
b=20
a/=b
a

0.5

In [103]:
a=10
b=20
a//=b
a

0