# create tuple

In [ ]:
## tuple is not mutable that means we can't change once it is created
## it is heterogenous that means we can use multiple data type
## ### allows duplicats
### we can use()or without()

In [ ]:
### creating tuple with()

In [1]:
name=("rani","raju","ravi")
print(name)
type(name)

('rani', 'raju', 'ravi')

tuple

In [ ]:
### creating tuple without()

In [2]:
name="rani","raju","ravi"
print(name)
type(name)

('rani', 'raju', 'ravi')

tuple

# tuple operations

In [ ]:
## in tuple we have only sorted operator not sort

In [3]:
list =1,2,3,4,5
sorted(list)

[1, 2, 3, 4, 5]

In [ ]:
### here we can sort the list in descending order using reverse keyword

In [2]:
list =1,2,3,4,5
sorted(list,reverse=True)

[5, 4, 3, 2, 1]

In [ ]:
### repeating the tuple elements

In [7]:
list =1,2,3,4,
rep=list*2
print(rep)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
### concatenating two tuples

In [10]:
list =1,2,3,4
rollno=11,22,33,44
num=list+rollno
print(num)

(1, 2, 3, 4, 11, 22, 33, 44)

In [ ]:
### checking the element in the tuple

In [11]:
list=(1, 2, 3, 4, 11, 22, 33, 44)
print(33 in list)

True

In [12]:
list=(1, 2, 3, 4, 11, 22, 33, 44)
print(33 not in list)

False

In [ ]:
### iterating the elements in tuple

In [13]:
list=(1, 2, 3, 4, 11, 22, 33, 44)
for num in list:
    print(num)

1
2
3
4
11
22
33
44

In [ ]:
### counting the  number of element in tuple

In [14]:
list=(1, 2, 3, 4, 11, 22, 33, 44)
len(list)

8

In [ ]:
## max of element in tuple

In [15]:
list=(1, 2, 3, 4, 11, 22, 33, 44)
max(list)

44

In [ ]:
## min of element in the tuple

In [16]:
list=(1, 2, 3, 4, 11, 22, 33, 44)
min(list)

1

In [ ]:
## the max() and min() cannot be used on a tuple with mixed datatype

In [3]:
### we can have a list inside the tuple
### we can  append the element in list with in a tuple
### here [11,22,33,55] consider as one index

In [8]:
num=(1,2,3,4,5,6,7,[11,22,33,55])
num
num[7].append(120)
num

(1, 2, 3, 4, 5, 6, 7, [11, 22, 33, 55, 120])

# indexing and slicing tuples

In [ ]:
##tuple[start:stop:step]

In [1]:
list=(1, 2, 3, 4, 11, 22, 33, 44)
list[0:3]

(1, 2, 3)